<div class="center jumbotron">
  <h1>Welcome to the Smart Calendar Application</h1>
  
  <h2>
    Features:
  </h2>
  <li>
    You can sign up by clicking on the button below.
  </li>
  <li>
	Create calendar events from the profile page after you login.
  </li>
  <li>
	See the events created in the profile page.
  </li>
  <li>
	See other users' events.
  </li>
  <li>
  	Click on the Analytics link on your profile page and see the events for a day for all users.
  </li>
  </h2>
  <% if current_user.nil? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% else %>
  	<%= link_to "Go to Profile", user_path(current_user), class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
