<footer class="footer">
  <small>
    Smart Calendar Application</a>
    by Manoj Venkata</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>